@font-face {
	font-family: 'GTWalsheimBold';
	src: 
		url('../fonts/GT_Walsheim/GTWalsheim-Bold.otf')  format('opentype'),
		url('../fonts/GT_Walsheim/GTWalsheim-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GT-Walsheim-Medium';
	src: 
		url('../fonts/GT_Walsheim/GTWalsheim-Medium.otf')  format('opentype'),
		url('../fonts/GT_Walsheim/GTWalsheim-Medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GT-Walsheim-Regular';
	src: 
		url('../fonts/GT_Walsheim/GTWalsheim-Regular.otf')  format('opentype'),
		url('../fonts/GT_Walsheim/GTWalsheim-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GT-Walsheim-Light';
	src: 
		url('../fonts/GT_Walsheim/GT-Walsheim-Light.otf')  format('opentype');
	font-weight: normal;
	font-style: normal;
}