.img_hover{
	.on_hover{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
	&:hover,
	&.active{
		img{
			opacity: 0;
			&.on_hover{
				opacity: 1;
			}
		}
	}
}
.item_user_block{
	>a .on_hover{
		position: absolute;
		left: 0;
		top: 0;
		opacity: 0;
	}
	&:hover,
	&.active{
		>a [class*="icon-"]{
			use{
				opacity: 0;
				&.on_hover{
					opacity: 1;
				}
			}
		}
	}
}