.custom_list{
	list-style: none;
	padding-left: 0;
	.list_icon{
		position: relative;
		max-width: 30px;
		max-height: 30px;
	}
	.list_text{
		flex: 1 0 150px;
	}
	a{
		@include flex_align($h_align:space-between, $v_align: center, $wrap: wrap);
		text-decoration: none !important;
		.arrow{
			align-self: flex-start;
			margin-top: 6px;
		}
	}
}
