@mixin flex_align($h_align: center, $v_align: center, $wrap: wrap) {
	justify-content: $h_align;
	align-items: $v_align;
	flex-wrap: $wrap;
	display: flex;
}
@mixin flex_h_v_align($h_align: center, $v_align: center) {
	justify-content: $h_align;
	align-items: $v_align;
	display: flex;
}
@mixin flex_v_align($v_align: center) {
	align-items: $v_align;
	display: flex;
}
@mixin flex_h_align($h_align: center) {
	justify-content: $h_align;
	display: flex;
}