$orange: #F16130;
$light_orange: #feefea;
$dark_orange: #bf4d26;
$v_dark_orange: #8c381c;

$blue: #5383ec;
$light_blue: #edf2fd;
$dark_blue: #4167ba;
$v_dark_blue: #4167ba;

$grey: #cccccc;
$lght-grey: #404040;
$dark_grey: #555555;

$black: #000;

$white: #fff;

$red: #FF0000;